:host {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.create-task-form-button {
  width: max-content;
  margin-bottom: 2rem;
}

.tasks-list {
  margin-top: 2rem;
}

.tasks-settings {
  display: flex;
  gap: 1rem;
  align-items: center;
}
