:host {
  display: contents;
}

.task {
  display: flex;
  flex: 1;
  flex-direction: column;

  min-width: 20rem;
  max-width: 30rem;
  height: 100%;
  min-height: 30rem;

  transition: background-color 0.3s ease-in-out;

  &.completed {
    background-color: lightgreen;
  }

  &.pending {
    background-color: skyblue;
  }

  &.fluid {
    width: 100%;
    max-width: unset;
  }

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem dashed #333;
  }

  &-status {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.2rem;
    align-items: center;

    min-width: max-content;
  }

  &-description {
    flex: 1;
  }

  &-actions {
    display: flex;
    justify-content: space-between;

    margin-top: auto;
    padding: 1rem;
    padding-top: 0;
  }
}
